h2 {
	color: white;
	text-align: center;
	font-weight: bold;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:-150;
	border-radius: 50%;
}
.back {
	display: block;
	margin-top:-450;
	margin-left: 150;
	margin-right: auto;
	width: 150;
	height: 50;
}
.soon {
	color: white;
	margin-top: 450;
}
.Gallery2 {
	display: block;
	margin-left:750;
	margin-top:50;
	width:150;
	height:50;
}
.About {
	text-align: center;
	display:block;
	margin-left: 950;
	width: 150;
	height: 50;
	margin-top: -67;
}
.Info {
	text-align: center;
	display: block;
	margin-left: 550;
	width: 150;
	height: 50;
	margin-top: -67;
}
.Menter {
	position: absolute;
	top: 600;
}
.Menter1 {
	position: absolute;
	left: 750;
	width: 800;
}
.Menter2 {
	position: absolute;
	top: 100;
	width: 700;
}
.Menter3 {
	position: absolute;
	left: 850;
	top: 600;
	height: 475;
}
.Menter4 {
	position: absolute;
	left: 450;
	top: 600;
	height: 475;
}
p {
	color: red;
}
.Celeste {
	position: absolute;
	top: 100;
	left: 1000;
}
h1 {
	color: darkred;
}
#Home {background-color: black; text-align: center;}
#About {background-color: black;}
#Where {background-color: black; text-align: center;}
#Questions {background-color: black; text-align: center;}