h2 {
	color: white;
	font-weight: bold;
	text-align: center;
}
.Menter {
	position: absolute;
	top: 100;
}
.Menter1 {
	position: absolute;
	top: 400;
	left: 300;
}
.Menter2 {
	position: absolute;
	top: 1100;
	right: 1110;
}
.Menter3 {
	position: absolute;
	top: 1200;
	right: 30;
}
.Menter4 {
	position: absolute;
	top: 1624;
	right: 680;
}
.Info5 {
	color: white;
	family-font: bold;
}
.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:-150;
	border-radius: 50%;
	
}
.Info6 {
	color: red;
	font-size: 15;
	text-align: left;
}
p {
	color: red;
	text-align: left;
}
.Text1 {
	color: White;
	text-align: center;
	font-family: bold;
	font-size: 20;
}
.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: #808080;
}
.button {
  background-color: #000000; /* Gray */
  border: 1px solid gray;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  display: block;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.Text2 {
	color: white;
	text-align: center;
	font-family: bold;
	font-size: 20;
}
.back {
	display: block;
	margin-top:-450;
	margin-left: 150;
	margin-right: auto;
	width: 150;
	height: 50;
}
.Soon {
	color: white;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10;
	
}  
.Menter {
	position: absolute;
	top: 100;
}
.Menter1 {
	position: absolute;
	left: 536;
	top: 100;
}
.Menter2 {
	position: absolute;
	top: 600;
	left: 25;
}
.Menter3 {
	position: absolute;
	left: 1270;
	top: 100;
	height: 475;
}
.Menter4 {
	position: absolute;
	top: 600;
	left: 535;
	height: 475;
}
.Gallery {
	display:block;
	margin-top: -6;
	margin-left: 751;
	margin-right: auto;
	width: 150;
	height: 50;
}
.info {
	display: block;
	margin-top: -66;
	margin-left: 551;
	margin-right: auto;
	width: 150;
	height: 50;
}
.about {
	display: block;
	margin-top: -66;
	margin-left: 951;
	margin-right: auto;
	width: 150;
	height: 50;
}
#Home {background-color: black; text-align: center;}
#About {background-color: black;}
#Where {background-color: black; text-align: center;}
#Questions {background-color: black; text-align: center;}