h2 {
	color: white;
	text-align: center;
	font-weight: bold;
}
.btn-group .button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
.btn-group .button:hover {
  background-color: #808080;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width:-150;
	border-radius: 50%;
}
.back {
	display: block;
	margin-top:-450;
	margin-left: 150;
	margin-right: auto;
	width: 150;
	height: 50;
}
.Soon {
	color: white;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: 450;
	
}
.Gallery1 {
	margin-left: 750;
	width:150;
	height:50;
}
.info {
	display: block;
	margin-left: 550;
	margin-top: -65;
	width: 150;
	height: 50;
}
.About {
	display: block;
	margin-left: 950;
	margin-top: -65;
	width: 150;
	height: 50;
}
.Imageadjust {
	position: absolute;
	left: 260;
	top: 100;
}
.Velma {
	margin-top: 10;
}
.ImageAdjust1 {
	position: absolute;
	left: 260;
	top: 175;
}
.ImageAdjust2 {
	position: absolute;
	left: 260;
	top: 210;
}
.ImageAdjust3 {
	position: absolute;
	left: 260;
	top: 245;
}
.ImageAdjust4 {
	position: absolute;
	left: 260;
	top: 280;
}
.ImageAdjust5 {
	position: absolute;
	left: 260;
	top: 315;
}
.ImageAdjust6 {
	position: absolute;
	left: 260;
	top: 350;
}
.ImageAdjust7 {
	position: absolute;
	left: 260;
	top: 385;
}
p {
	color: red;
}
h1 {
	color: darkred;
}
.Menter {
	position: absolute;
	top: 600;
	width: 500;
}
.Menter1 {
	position: absolute;
	top: 100;
	left: 750;
	width: 800;
	height: 475;
}
.Menter2 {
	position: absolute;
	top: 100;
	width: 700;
}
.Menter3 {
	position: absolute;
	left: 540;
	top: 600;
	height: 475;
	width: 400;
}
.Menter4 {
	position: absolute;
	left: 950;
	top: 600;
	height: 475;
	width: 600;
}
#Home {background-color: black; text-align: center;}
#About {background-color: black;}
#Where {background-color: black; text-align: center;}
#Questions {background-color: black; text-align: center;}